/vendor/
/node_modules/
/composer.lock
/.phpunit.cache/
/.phpunit.result.cache
/.pest/
/test-results/
/playwright-report/
/workbench/vendor/
/workbench/.env
/workbench/database/*.sqlite*
/workbench/bootstrap/cache/*.php
/workbench/storage/
/workbench/public/css/
/workbench/public/js/
/workbench/public/fonts/
/.idea/
.DS_Store
