includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 6
    paths:
        - src
    scanFiles:
        - tests/Fixtures/Pages/ExamplePage.php
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
